---
title: "Release Notes"
layout: layouts/tips.vto
---

<h1>Release Notes</h1>

{{ for release of releases }}
  <div class="release mb-12">
    <h2 id="{{ release.version }}" class="text-2xl font-bold mt-4 !mb-2">
      <a class="link link-hover" href="#{{ release.version }}">{{ release.version }}</a>
    </h2>
    <div class="release-notes !mb-0">
      {{ release.notes |> md }}
    </div>
    <a
      class="link link-hover text-primary"
      href="{{ metadata.links.github }}/releases/tag/{{ release.version }}"
      target="_blank">View on GitHub</a>
  </div>
{{ /for }}
