<section class="py-12 {{ background ? 'bg-base-200/30' : '' }} w-full">
  <div class="max-w-4xl mx-auto px-8 text-left">
    <h2 class="text-3xl md:text-4xl mb-8 border-b-4 border-primary inline-block pb-2">{{ title }}</h2>
    {{ content }}
  </div>
</section>
